<?php

/* 
   This script prints out all characters in a TrueType font file
   to a PDF document. Point your browser to 
   http://your.domain/your_path_to _mpdf/utils/font_dump.php
   The font file must be located in /ttfonts/ (or the default font
   directory defined by _MPDF_TTFONTPATH.
   By default this will examine the font dejavusanscondensed.
   You can optionally define an alternative font file to examine by setting 
   the variable below (must be a relative path, or filesystem path):
*/


$font = 'dejavusanscondensed';	// Use internal mPDF font-name

$showmissing = true;	// Show all missing unicode blocks / characters


//////////////////////////////////
//////////////////////////////////
//////////////////////////////////

set_time_limit(600);
ini_set("memory_limit","256M");

//==============================================================
//==============================================================
define('_MPDF_URI', '../');
include("../mpdf.php");

$mpdf=new mPDF(''); 
$mpdf->StartProgressBarOutput(2);

$mpdf->SetDisplayMode('fullpage');

$mpdf->useSubstitutions = true;
$mpdf->debug = true;
$mpdf->simpleTables = true;
// force fonts to be embedded whole i.e. NOT susbet
$mpdf->percentSubset = 0;

//==============================================================
//==============================================================
//==============================================================
//==============================================================

// This generates a .mtx.php file if not already generated
$mpdf->WriteHTML('<style>td { border: 0.1mm solid #555555; } body { font-weight: normal; }</style>');
$mpdf->WriteHTML('<h3 style="font-family:'.$font.'">'.strtoupper($font).'</h3>');	// Separate Paragraphs  defined by font
$html = '';
//==============================================================
//==============================================================
//==============================================================
//==============================================================
$unifile = file('UnicodeData.txt');
$unichars = array();

foreach($unifile AS $line) {
	if ($smp && preg_match('/^(1[0-9A-Za-z]{4});/',$line,$m)) { 
	  $unichars[hexdec($m[1])] = hexdec($m[1]);
	}
	else if (preg_match('/^([0-9A-Za-z]{4});/',$line,$m)) { 
	  $unichars[hexdec($m[1])] = hexdec($m[1]);
	}
}

// loads array $unicode_ranges
include('UnicodeRanges.php'); 
//==============================================================
//==============================================================



$cw = file_get_contents(_MPDF_TTFONTDATAPATH.$font.'.cw.dat');
if (!$cw) { die("Error - Must be able to read font metrics file: "._MPDF_TTFONTDATAPATH.$font.'.cw.dat'); }
$counter=0;


include(_MPDF_TTFONTDATAPATH.$font.'.mtx.php');

if ($smp) {
	$max = 131071;
}
else { 
	$max = 65535;
}


$justfinishedblank = false;
$justfinishedblankinvalid = false;

    		foreach($unicode_ranges AS $urk => $ur) {
			if (0 >= $ur['startdec'] && 0 <= $ur['enddec']) {
				$rangekey = $urk;
				$range = $ur['range'];
				$rangestart = $ur['starthex'];
				$rangeend = $ur['endhex'];
				break;
			}
   		}
	  $lastrange  = $range ;
    // create HTML content
    $html .= '<table cellpadding="2" cellspacing="0" style="font-family:'.$font.';text-align:center; border-collapse: collapse; ">';
    $html .= '<tr><td colspan="18" style="font-family:helvetica;font-weight:bold">'.strtoupper($font).'</td></tr>';
 